/* .background-img {
    background-image: url(company-img/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.image {
    background-image: url(back-img/hero-4-bg-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
} */
h1 {
    font-family: 'Poppins', sans-serif;

}

.margin {
    margin-top: 50px;
}

.btn-colour {
    background-image: linear-gradient(to bottom, #e2a94d 0%, rgb(255, 168, 6));
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.btn-colour-2 {
    background-color: orange;
    cursor: pointer;
}

/* .background-image-1 {
    background-image: url(back-img/banner1-613x350.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 425px;
} */

/* .background-image-2 {
    background-image: url(back-img/banner2-613x350.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 425px;
} */

/* .background-image-3 {
    background-image: url(back-img/banner3-613x350.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 425px;
}

.footer-bg-img {
    background-image: url(frame-img/footerbackground.png);
    background-repeat: no-repeat;
} */

.banner-bg-light {
    background-color: rgb(204, 197, 244);
}

.tv-bg-light {
    background-color: #f48f60;
    /* background-image: linear-gradient(to top, end, #f0895a 100%, rgb(222, 73, 5)); */
}

.about {
    background-color: rgb(138, 186, 138);
}

.bg-secondary-color {
    background-color: rgb(210, 205, 205);
}

.people {

    border-radius: 50%;

}

body {
    background-color: #f1f3f8;
}

.logo {
    width: 12%;
}

.line {
    text-decoration: none;
}

.theame {
    background-image: linear-gradient(to bottom, #e2a94d 0%, #f6b523);
    /* background-color: #f6b523; */
    border-radius: 8px;
    padding: 9px 18px;
    cursor: pointer;
}

.Gallery-pic-one {
    padding-top: 180px;
    padding-bottom: 179px;
    background-color: #cce0ec;

}

.white {
    background-color: #cce0ec;
    margin-top: 50px;
}

.Gallery-pic-2 {
    background-color: #d5ebdd;
    padding: 40px;
}

.Gallery-pic-3 {
    background-color: #eedac2;
    /* padding-top: 40px;
    padding-bottom: 40px; */
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    padding: 85px;

}

.Gallery-pic-4 {
    padding-top: 115px;
    padding-bottom: 114px;

    background-color: #d2cce0;
}

.Gallery-pic-5 {
    padding: 45px;
    background-color: #dfe2d7;
}

.Gallery-pic-6 {
    padding-top: 48px;
    padding-bottom: 46px;
    background-color: #eae1b8;
}

.footer-color {
    background-color: #3c3b3b;
}